<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">

    <system>
        <section id="mavenbird_loginascustomer" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Login As Customer</label>
            <tab>mavenbird</tab>
            <resource>Mavenbird_LoginAsCustomer::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to "Yes" to enable the module, "No" to disable it.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
